@page "/AddProvider"
@using GrpcFileGeneration.Models
@using ClientBlazor.Data
@inject IProviderService ProviderService

<EditForm Model="@newProvider" OnValidSubmit="@AddNewProvider">
    <div class="form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2" >
                Company Name
              </label>
        <InputText rows="1" @bind-Value="newProvider.CompanyName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
       <label class="block text-gray-700 text-sm font-bold mb-2" >
               Username
             </label>
        <InputNumber rows="1" @bind-Value="newProvider.Cvr" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2" >
                Descripton
              </label>
        <InputTextArea rows="2" @bind-Value="newProvider.Description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
       <label class="block text-gray-700 text-sm font-bold mb-2">
               Phone Number:
             </label>
        <InputText rows="1" @bind-Value="newProvider.PhoneNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2" >
            City: 
            </label>
        <InputText @bind-Value="newProvider.Address.City" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2">
                Street: 
              </label>
        <InputText @bind-Value="newProvider.Address.Street" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>
    <div class="form-group">
        <label class="block text-gray-700 text-sm font-bold mb-2" >
                StreetNumber:
              </label>
        <br/>
        <InputText @bind-Value="newProvider.Address.StreetNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <div class="form-group">
       <label class="block text-gray-700 text-sm font-bold mb-2">
               Post Code:
             </label>
        <InputNumber @bind-Value="newProvider.Address.PostCode" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
    </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>

@code {
    private Provider newProvider = new();

    private async Task AddNewProvider()
    {
        await ProviderService.CreateProvider(newProvider);
    }

}