@page "/Providers"
@using GrpcFileGeneration.Models
@using ClientBlazor.Data
@inject NavigationManager NavigationManager
@inject IProviderService ProviderService

@if (providers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}

else if (!providers.Providers.Any())
{
    <p>
        <em>No Adults items exist. Please add some.</em>
    </p>
}
else
{
    <section class="container mx-auto p-6 font-mono">
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <th class="px-4 py-3">Company Name</th>
                        <th class="px-4 py-3">CVR</th>
                        <th class="px-4 py-3">Description</th>
                        <th class="px-4 py-3">City</th>
                        <th class="px-4 py-3">Street</th>
                        <th class="px-4 py-3">Street Number</th>
                        <th class="px-4 py-3">Post Code</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white">
                    @foreach (var item in providers.Providers)
                    {
                        <tr class="text-gray-700">
                            <td class="px-4 py-3 text-ms font-semibold border">@item.CompanyName</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Cvr</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Address</td>
                            <td class="px-4 py-3 text-ms font-semibold border">@item.Description</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}

@code {
    private ProviderList providers;

    protected override async Task OnInitializedAsync()
    {
        providers = await ProviderService.GetAllProviders();
    }

}

