@inherits LayoutComponentBase

<div class="flex flex-no-wrap">
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
        <NavMenu/>
        <Header></Header>


        <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
            @Body
        </div>
    </div>
    </div>